[
    {"roadmap_summary_big", [
        {width, 800},
        {height, 500},
        {quality, 95},
        {extent, false},
        {lossless, auto}
    ]},

    {"roadmap_summary", [
        {width, 238},
        {height, 238},
        {quality, 95},
        {extent, false},
        {lossless, auto}
    ]},

    {"roadmap_thumb_small", [
        {width, 162},
        {height, 162},
        {quality, 95},
        {lossless, auto}
    ]},
    {"roadmap_thumb_middle", [
        {width, 325},
        {height, 325},
        {quality, 95},
        {lossless, auto}
    ]},
    {"roadmap_thumb_large", [
        {width, 560},
        {height, 560},
        {quality, 95},
        {lossless, auto}
    ]},

    {"roadmap_media", [
        {width, 800},
        {quality, 95},
        {lossless, auto}
    ]}
].
