[
    {"roadmap_summary_big", [
        {width, 800},
        {height, 500},
        {quality, 70},
        {extent, false}
    ]},
    {"roadmap_summary", [
        {width, 238},
        {height, 238},
        {quality, 70},
        {extent, false}
    ]},
    {"roadmap_article", [
        {width, 1280},
        {height, 720},
        {quality, 90}
    ]},
    {"roadmap_media", [
        {width, 800},
        {quality, 100}
    ]}
].