[
    {"roadmap_summary_big", [
        {width, 800},
        {height, 500},
        {quality, 70},
        {extent, false},
        upscale,
        crop
    ]},
    {"roadmap_summary", [
        {width, 170},
        {height, 113},
        {quality, 70},
        {extent, true},
        crop
    ]},
    {"roadmap_article", [
        {width, 1280},
        {height, 720},
        {quality, 90},
        upscale,
        crop
    ]},
    {"roadmap_media", [
        {width, 800},
        {quality, 100}
    ]}
].